.login {
    display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
}

.login__header {
    color: #ffffff;
    margin: 0 0 39px;
    font-size: 24px;
    line-height: 1.21;
    font-weight: 900;
}

.login__form {
    display: flex;
    flex-direction: column;
    border: none;
    padding: 0;
    margin: 0;
}

.login__input {
    width: 100%;
    margin: 1px 0 0;
    padding: 10px 0 9px;
    box-sizing: border-box;
    border: 0;
    font-size: 14px;
    line-height: 1.21;
    outline: none;
    color: #fff;
    background-color: unset;
    border-bottom: 2px solid #ccc;
}

.login__button {
    background-color: #fff;
    color: #000;
    padding: 0;
    width: 358px;
    height: 50px;  
    border-radius: 2px;  
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    border: none;
    opacity: 1;
    margin-top: 216px;
}

.login__text {
    font-size: 14px;
    line-height: 1.21;
    color: #fff;
    margin: 15px 0 0;
    text-align: center;
}

.login__link {
    text-decoration: none;
    transition: opacity .5s ease;
    font-size: 14px;
    line-height: 1.21;
    color: #fff;
}