.element__like-button {
  background-image: url(../../../images/logo-like.svg);
  background-repeat: no-repeat;
  background-color: transparent;
  border: 0;
  width: 22px;
  height: 19px;
  flex-shrink: 0;
}

.element__like-button:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: 0.5s ease-out;
}
