.popup__container {
  background-color: #ffffff;
  opacity: 1;
  max-width: 430px;
  border-radius: 10px;
  margin: 8px 40px 0;
  padding: 0;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
}

@media screen and (max-width: 890px) {
  .popup__container {
    max-width: 282px;
    margin: 16px 0 0;
  }
}
