.profile__profession {
  margin: 0;
  font-family: 'Inter', Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.22;
  color: #ffffff;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  max-width: 538px;
}

@media screen and (max-width: 890px) {
  .profile__profession {
    font-size: 14px;
    line-height: 1.21;
    text-align: center;
  }
}
